@charset "utf-8";

@font-face {
  font-family:sourcecodepro;
  src:url('/fonts/SourceCodePro-VariableFont_wght.ttf');
}

/**
 * Style variables
 */
$base-font-family:    sourcecodepro, monospace !default;
$base-font-size:      12.5pt !default;
$mobile-font-size:    12pt   !default;
$mobile-font-size-nav:9pt   !default;
$base-line-height:    1.5    !default;
$container-width:     90%    !default;
$container-max-width: 60rem  !default;
$padding-sz:          6pt !default;

:root {
  --line-gap: 11pt;

  --border:            dashed 2pt var(--color-fg);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  margin-top: var(--line-gap);

  font-size: $base-font-size;
  font-weight: bold;

  color: var(--color-accent);
}
p, ul, ol {
  margin: 0px;
  color: var(--color-fg);
}
p {
  margin-top: var(--line-gap);
  margin-bottom: var(--line-gap);
}
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 0;
}
a {
  color: var(--color-fg);
  padding: 1pt;
}
a:hover {
  color: var(--color-bg);
  background-color: var(--color-fg);
}
p a {
  color: var(--color-blue);
  text-decoration: underline;
  text-decoration-thickness: 1pt;
}

@media only screen and (max-width: 600px) {
  * { font-size: $mobile-font-size !important; }
  nav div a { font-size: $mobile-font-size-nav !important; }
  //nav > a {
  //  display:none !important;
  //}
  //nav details {
  //  display:block !important;
  //}
}

body {
  margin:0;
  padding:0;
  height:100vh;
  display:flex;
  flex-direction: column;
  gap: $padding-sz;

  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height !important;

  background-color: var(--color-bg);
  color: var(--color-fg);
}

body > div > img {
  width: 16pt;
  height: 16pt;
}

body > div {
  display: flex;
  align-items: center;
  gap: $padding-sz;
}

nav {
  border-bottom: 2pt solid;
}
nav div.container {
  display:flex;
  gap: $padding-sz;
  align-items: end;
}

footer {
  margin:0;
  display:flex;
  gap: $padding-sz;
  padding:$padding-sz;
}

footer {
  justify-content:center;
  padding-top:calc($padding-sz * 4);
}
body > div:nth-child(1) {
  padding: $padding-sz;
}

nav div * {
  padding: calc($padding-sz / 2) $padding-sz;
  box-sizing:border-box;
  height: fit-content;
}

nav div a {
  text-decoration: none;
  font-weight:600;
}

nav div > a.selected {
  background-color: var(--color-fg);
  color: var(--color-bg);
}

nav div a:hover {
  color: var(--color-accent) !important;
  background-color: var(--color-bg-bright);
  transition: 250ms ease-in-out;
}

// Headers
h1:before { content: "#";       margin-right: 9px; }
h2:before { content: "##";      margin-right: 9px; }
h3:before { content: "###";     margin-right: 9px; }
h4:before { content: "####";    margin-right: 9px; }
h5:before { content: "#####";   margin-right: 9px; }
h6:before { content: "######";  margin-right: 9px; }

// Lists
li:before { color: var(--color-accent); margin-right: 1em; left: -1em; position: absolute; }

:not(.menu) > ul { list-style: none;  padding-left: 0; list-style-type: none;
width: 95%; }
:not(.menu) > ul > li { position: relative; left: 1em; }
:not(.menu) > ul > li:before { content: "*"; }
:not(.menu) > ul > li > ul > li:before { content: "+" }
:not(.menu) > ul > li > ul > li > ul > li:before { content: "-" }

:not(.menu) > ol { list-style: none; padding-left: 0px; counter-reset: li }
:not(.menu) > ol ol { padding-left: 2em }
:not(.menu) > ol > li { position: relative; left: 1em; padding-left:$padding-sz;}
:not(.menu) > ol > li::before { content: counter(li) ". "; color: var(--color-accent); margin-right: 9px; counter-increment: li }
//ol > li:before {  color: var(--color-accent); }

//
hr { border: none; border-top: var(--border); }

.container
{
  width: $container-width;  max-width: $container-max-width;
  margin-right: auto;  margin-left: auto; flex-grow:1;
}

.timestamp {
  float:right;
}

.projects {
  display: flex;
  flex-direction: column;
  gap:$padding-sz;
}
.projects a {display:flex; justify-content:space-between; flex-direction: row;
  padding: $padding-sz;
  border: solid 1pt var(--color-fg);
  border-left: solid $padding-sz;
  text-decoration:none;
}
.projects a:hover {
  color: var(--color-accent) !important;
  background-color: var(--color-bg-bright);
  transition: 250ms ease-in-out;

  border-color: var(--color-accent);
}

.projects a div.text {
  display: flex;
  flex-direction: column;
  gap:$padding-sz;
  h3:before { content: "";       margin-right: 0px; }
  h3, { margin: 0px; font-size: 18pt; }
  p { margin: 0px }
}

.projects a div.stats {
  display: flex;
  flex-direction: column;
  gap:$padding-sz;
  align-items:flex-end;
}
.social-icon,
.social-icon > img {
  height: 1pc;
  width: 1pc;
}
code {
  border: 1pt solid var(--border);
  border-radius: 2pt;
  padding: 0pt 2pt;
  background-color: #000;
  color: #fff;
}
